.title {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    padding: 50px;
    height: calc(100vh - 5rem);

    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;

    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}